@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$light-purple:#ae23be;
$purple:#821c8a;
$white:#ffffff;
$light-gray:#d2dae5;
$black:#000000;
$gray:#a5a8ae;
$smokewhite:#f1f5f9;
$li-gray:#808a98;
$small:#475569;